body {
    margin: 0;
    display: grid;
    grid-template-columns: [col1] 0.125fr [col2] 0.125fr [col3] 0.125fr [col4] 0.125fr [col5] 0.125fr [col6] 0.125fr [col7] 0.125fr [col8] 0.125fr [col9];
    grid-template-rows: repeat(114, 5rem);
}
#title {
    /* background-color: aqua; */

    grid-column: col3 / col8;
    grid-row: 1 / 5;

    padding-left: 2rem;
    font-size: 5rem;
    display: flex;

    border: #3B4C50 solid;
    border-width:  0px 2px 5px 0px;

}
#names {
    /* background-color: rgb(187, 130, 240); */

    grid-column: col3 / col8;
    grid-row: 5 / 6;

    padding-left: 2rem;
    display: flex;

    border: #3B4C50 solid;
    border-width:  0px 2px 2px 0px;

}



/* --- QUOTES --- */
#quote-1 {
    /* background-color: rgb(168, 109, 109); */

    grid-column: col5 / col7;
    grid-row: 6 / 9;

    padding: 0rem 0rem 0rem 1rem;
    font-size: 1.5rem;
    display: flex;
    line-height:2.3rem;


    border: #3B4C50 solid;
    border-width:  0px 2px 2px 0px;
}
#quote-2 {
    /* background-color: rgb(109, 163, 168); */

    grid-column: col3 / col6;
    grid-row: 11 / 16;
    
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border: #3B4C50 solid;
    border-width:  2px 0px 0px 2px;

    display:flex;
    flex: row;
    justify-content:space-between;
    align-items:space-between;

    position:relative;

}

#quote-2:hover #quote-2-appear {
    display: block;
}
#quote-2:hover::before {
    
    text-align:right;
    font-family: 'Merriweather', serif;
    bottom:0;
    right: 0;
    position:absolute;
    padding:2rem;

    content:" a heroic effort of attention, an ascetic discipline, a mystic receptivity to the world which requires that the photographer pass through a cloud of unknowing"
}
#quote-3 {
    /* background-color: rgb(190, 72, 184); */

    grid-column: col4 / col9;
    grid-row: 20 / 23;

    padding: 2rem;
    font-size:1.2rem;
    line-height:2.3rem;


    display: flex;
    flex-direction:column;
    align-items: space-between;
    justify-content: space-between;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 2px;
}
.quote-3-rows {
    flex-direction:row;
    
}
#quote-4 {
    /* background-color: rgb(234, 147, 229); */

    grid-column: col6 / col9;
    grid-row: 23 / 25;

    padding: 2rem;
    font-size:1.5rem;
    line-height:2.5rem;


    border: #3B4C50 solid;
    border-width:  0px 0px 2px 0px;

    display: flex;
}
#quote-5 {
    /* background-color: rgb(166, 234, 147); */

    grid-column: col1 / col4;
    grid-row: 28 / 31;

    padding: 2rem;
    text-align:right;
    font-size: 1.2rem;
    line-height:2.3rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
    position:relative;
}
#hidden {
    padding: 0.5rem;
    display: inline;
    background-color: #3B4C50;
    color:white;
}
#container-u {
    position:relative;
    display:inline;
}
#unveiled {
    padding: 2rem;
    display: inline;
    background-color: #3B4C50;
    letter-spacing: 0.5rem;
    color:#3B4C50;
    position:absolute;
    left:0;
    bottom:0;
}
#unveiled:hover {
    color:white;

}
/* #unveiled:hover::before {
    color: white;
} */
#quote-6 {
    /* background-color: rgb(218, 213, 126); */

    grid-column: col4 / col6;
    grid-row: 31 / 39;

    padding: 2rem;
    border: #3B4C50 solid;
    border-width:  2px 2px 2px 0px;
    font-size: 1.2rem;


    display: flex;
}
#quote-7 {
    /* background-color: rgb(77, 252, 255); */

    grid-column: col3 / col7;
    grid-row: 43 / 46;

    padding: 2rem;
    font-size: 1.2rem;
    line-height:2.3rem;

    border: #3B4C50 solid;
    border-width:  0px 2px 2px 0px;

    display: flex;

}
#quote-8 {
    /* background-color: rgb(194, 130, 144); */

    grid-column: col2 / col4;
    grid-row: 53 / 55;

    padding: 1rem;
    line-height:2rem;

    border: #3B4C50 solid;
    border-width:  2px 2px 2px 2px;

}
#quote-9 {
    /* background-color: rgb(217, 193, 255); */

    grid-column: col5 / col8;
    grid-row: 50 / 52;

    padding: 2rem;
    font-size: 1.2rem;

    line-height:2rem;

    border: #3B4C50 solid;
    border-width:  2px 2px 0px 0px;

    display: flex;
}

#quote-10 {
    /* background-color: rgb(193, 234, 255); */

    grid-column: col6 / col9;
    grid-row: 52 / 54;

    padding: 2rem;
    font-size: 1.2rem;
    line-height:2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
}
#quote-11 {
    /* background-color: rgb(193, 255, 223); */

    grid-column: col2 / col5;
    grid-row: 60 / 62;

    padding-right: 2rem;
    text-align:right;
    font-size: 1.2rem;
    line-height:2.3rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

     
    display: flex;
    justify-content:flex-end;
}
#quote-12 {
    /* background-color: rgb(73, 172, 121); */

    grid-column: col5 / col7;
    grid-row: 62 / 64;

    padding: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
}
#quote-13 {
    /* background-color: rgb(129, 194, 160); */

    grid-column: col3 / col5;
    grid-row: 71 / 73;

    padding: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
    justify-content:flex-end;

}
#quote-14 {
    /* background-color: rgb(129, 194, 133); */

    grid-column: col5 / col7;
    grid-row: 73 / 75;

    padding: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
}
#quote-15 {
    /* background-color: rgb(153, 194, 129); */

    grid-column: col5 / col7;
    grid-row: 79 / 81;

    padding: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
}
#quote-16 {
    /* background-color: rgb(188, 194, 129); */

    grid-column: col3 / col5;
    grid-row: 81 / 83;

    padding: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
    justify-content:flex-end;

}
#quote-17 {
    /* background-color: rgb(194, 177, 129); */

    grid-column: col5 / col7;
    grid-row: 87 / 89;

    padding: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
}
#quote-18 {
    /* background-color: rgb(212, 129, 220); */

    grid-column: col1 / col4;
    grid-row: 95 / 97;

    padding-right: 2rem;
    line-height:2rem;
    font-size: 2.5rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
    justify-content:flex-end;

}
#quote-19 {
    /* background-color: rgb(87, 20, 93); */

    grid-column: col4 / col9;
    grid-row: 98 / 100;

    padding-left: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
}
#quote-20 {
    /* background-color: rgb(88, 161, 188); */

    grid-column: col2 / col5;
    grid-row: 104 / 108;

    padding-right: 2rem;
    line-height:2rem;
    font-size: 1.2rem;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    display: flex;
    justify-content:flex-end;
    text-align:right;
}
#quote-21 {
    /* background-color: rgb(10, 178, 239); */

    grid-column: col4 / col9;
    grid-row: 113 / 115;

    padding-right: 2rem;
    line-height:2.3rem;
    font-size: 1.5rem;

    border: rgb(59, 76, 80) solid;
    border-width:  2px 0px 0px 0px;

    display: flex;
    justify-content:flex-end;

}




/* --- PHOTOS --- */
/* https://www.w3schools.com/cssref/pr_background-image.asp */
#photo-adams {
    /* background-color: rgb(190, 77, 255); */
    background-image: linear-gradient(rgba(59, 76, 80, 0.75), rgba(59, 76, 80, 0.75)), url("https://i0.wp.com/www.anseladams.com/wp-content/uploads/2019/04/ansel-adams-younger-1.jpg?fit=237%2C300&ssl=1");
    background-position: center;
    background-size: cover;

    border: #3B4C50 solid;
    border-width:  0px 2px 0px 2px;

    grid-column: col2 / col4;
    grid-row: 48 / 53;
}
#photo-adams:hover {
    background-image:url("https://i0.wp.com/www.anseladams.com/wp-content/uploads/2019/04/ansel-adams-younger-1.jpg?fit=237%2C300&ssl=1");

}
#photo-passport {
    /* background-color: rgb(190, 77, 255); */
    background-image: linear-gradient(rgba(59, 76, 80, 0.75), rgba(59, 76, 80, 0.75)), url("https://media.cntraveler.com/photos/5717f9d680cf3e034f9741a7/16:9/w_1280,c_limit/passport-card-sample.jpg");
    background-position: left;
    background-size: cover;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    grid-column: col3 / col5;
    grid-row: 64 / 68;
}
#photo-passport:hover {
    background-image: url("https://media.cntraveler.com/photos/5717f9d680cf3e034f9741a7/16:9/w_1280,c_limit/passport-card-sample.jpg");
}
#photo-weather {

    background-image: linear-gradient(rgba(59, 76, 80, 0.75), rgba(59, 76, 80, 0.75)), url("https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/styles/featured_media_detail/public/23613146140_6edfea579f_k.jpg?m0oNCnmjJAswk0CJrWZ.iW.ge6XbrfR1&itok=YBQjaq77");
    background-position: center;
    background-size: cover;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    grid-column: col5 / col8;
    grid-row: 67 / 72;
}
#photo-weather:hover {
    background-image: url("https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/styles/featured_media_detail/public/23613146140_6edfea579f_k.jpg?m0oNCnmjJAswk0CJrWZ.iW.ge6XbrfR1&itok=YBQjaq77");
}
#photo-xray {

    background-image: linear-gradient(rgba(59, 76, 80, 0.75), rgba(59, 76, 80, 0.75)), url("https://www.imaginghealthcare.com/wp-content/uploads/2020/06/x-ray.jpg");
    background-position: center;
    background-size: cover;

    border: #3B4C50 solid;
    border-width:  2px 0px 2px 0px;

    grid-column: col4 / col5;
    grid-row: 75 / 80;
}
#photo-xray:hover {
    background-image: url("https://www.imaginghealthcare.com/wp-content/uploads/2020/06/x-ray.jpg");
}
#photo-atget {

    background-image: linear-gradient(rgba(59, 76, 80, 0.75), rgba(59, 76, 80, 0.75)), url("https://static01.nyt.com/images/2020/05/28/world/paris-atget-photos-fader1/paris-atget-photos-fader1-superJumbo.jpg");
    background-position: center;
    background-size: cover;

    border: #3B4C50 solid;
    border-width:  2px 0px 0px 0px;

    grid-column: col5 / col8;
    grid-row: 83 / 87;
}
#photo-atget:hover {
    background-image: url("https://static01.nyt.com/images/2020/05/28/world/paris-atget-photos-fader1/paris-atget-photos-fader1-superJumbo.jpg");
}




/* --- OUTLINE --- */
#outline-1 {
    border: solid #B90809;
    border-width: 0px 0px 7px 7px;

    grid-column: col3 / col5;
    grid-row: 1 / 6;
}
#outline-2 {
    border: solid #B90809;
    border-width: 0px 7px 0px 0px;

    grid-column: col4 / col5;
    grid-row: 6 / 9;
}
#outline-3 {
    border: solid #B90809;
    border-width: 0px 0px 7px 0px;

    grid-column: col5 / col6;
    grid-row: 6 / 9;
}
#outline-4 {
    border: solid #B90809;
    border-width: 0px 7px 7px 0px;

    grid-column: col4 / col6;
    grid-row: 9 / 16;
}
#outline-5 {
    border: solid #B90809;
    border-width: 0px 0px 7px 7px;

    grid-column: col4 / col6;
    grid-row: 16 / 23;
}
#outline-6 {
    border: solid #B90809;
    border-width: 0px 7px 7px 0px;

    grid-column: col4 / col6;
    grid-row: 23 / 30;
}
#outline-7 {
    border: solid #B90809;
    border-width: 0px 0px 0px 7px;

    grid-column: col4 / col5;
    grid-row: 30 / 43;
}
#outline-8 {
    border: solid #B90809;
    border-width: 0px 0px 7px 0px;

    grid-column: col3 / col4;
    grid-row: 42 / 43;
}
#outline-9 {
    border: solid #B90809;
    border-width: 0px 0px 7px 7px;

    grid-column: col3 / col4;
    grid-row: 43 / 48;
}
#outline-10 {
    border: solid #B90809;
    border-width: 0px 7px 0px 0px;

    grid-column: col3 / col4;
    grid-row: 48 / 51;
}
#outline-11 {
    border: solid #B90809;
    border-width: 0px 0px 7px 0px;

    grid-column: col4 / col5;
    grid-row: 50 / 51;
}
#outline-12 {
    border: solid #B90809;
    border-width: 0px 7px 0px 0px;

    grid-column: col4 / col5;
    grid-row: 51 / 52;
}
#outline-13 {
    border: solid #B90809;
    border-width: 0px 0px 7px 0px;

    grid-column: col5 / col6;
    grid-row: 51 / 52;
}
#quote-9:hover + #outline-13 {
    border: solid #B90809 ;
    border-width: 0px 0px 0px 0px;

}
#outline-14 {
    border: solid #B90809;
    border-width: 0px 7px 7px 0px;

    grid-column: col5 / col6;
    grid-row: 52 / 59;
}
#outline-15 {
    border: solid #B90809;
    border-width: 0px 0px 0px 7px;

    grid-column: col5 / col6;
    grid-row: 59 / 90;
}
#outline-16 {
    border: solid #B90809;
    border-width: 0px 0px 7px 0px;

    grid-column: col4 / col5;
    grid-row: 89 / 90;
}
#outline-17 {
    border: solid #B90809;
    border-width: 0px 0px 7px 7px;

    grid-column: col4 / col5;
    grid-row: 90 / 100;
}
#outline-18 {
    border: solid #B90809;
    border-width: 0px 7px 0px 0px;

    grid-column: col4 / col5;
    grid-row: 100 / 113;
}



/* --- GENERAL --- */
.center-vertical {
    display: flex;
    flex: row wrap;
    align-items: center;


}
.font-oswald {
    font-family: 'Oswald', sans-serif;
}
.font-merriweather {
    font-family: 'Merriweather', serif;
}
.font-playfair {
    font-family: 'Playfair Display', serif;
}
.text-right {
    text-align: right;
    justify-content:end;
}
.spacing-evenly {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /* align-items:space-between; */
}



/* --- COLUMNS --- */
/* #col1-2-row1-end {
    background-color: rgb(110, 110, 255);

    grid-column: col1 / col2;
    grid-row: 1 / 115;

}
#col2-3-row1-end {
    background-color: brown;

    grid-column: col2 / col3;
    grid-row: 1 / 115;

}
#col8-9-row1-end {
    background-color: rgb(141, 209, 209);

    grid-column: col8 / col9;
    grid-row: 1 / 115;

}
#col3-4-row6-end {
    background-color: bisque;

    grid-column: col3 / col4;
    grid-row: 1 / 115;

}
#col4-5-row6-end {
    background-color: rgb(255, 165, 126);

    grid-column: col4 / col5;
    grid-row: 1 / 115;
}
#col5-6-row6-end {
    background-color: rgb(255, 119, 126);

    grid-column: col5 / col6;
    grid-row: 1 / 115;

}
#col6-7-row6-end {
    background-color: rgb(255, 140, 131);

    grid-column: col6 / col7;
    grid-row: 1 / 115;

}
#col7-8-row6-end {
    background-color: rgb(212, 129, 220);

    grid-column: col7 / col8;
    grid-row: 1 / 115;

} */

