body {
    padding: 25px;
    margin: 0;
    box-sizing: border-box;
    /* guide from:  https://css-tricks.com/snippets/css/complete-guide-grid/ */
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns: [col1] 55% [col2] 45% [col3];
    /* grid-template-rows: [row1] 650% [row2] 600% [row3] 450% [row4] 600% [row5]; */
    grid-template-rows: [row1] 65% [row2] 60% [row3] 45% [row4] 60% [row5];

}

.cameraIntro {
    background-color: red;
    grid-column-start: col1;
    grid-column-end: col3;
    grid-row-start: row1;
    grid-row-end: row2;
}

.vanity {
    background-color: aquamarine;
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: row3;
}

.painting {
    background-color: orange;
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row2;
    grid-row-end: row4;
}

.publicity {
    background-color: purple;
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row3;
    grid-row-end: row4;
}

.cameraOutro {
    background-color: brown;
    grid-column-start: col1;
    grid-column-end: col3;
    grid-row-start: row4;
    grid-row-end: row5;
}